/** INTRO COMPONENT**/

.herowrap {
  display: inherit;
  flex-direction: column;
  margin-top: 7.5%;
}
.herowords {
  font-size: 100px;
  color: #2a2a2c;
  font-weight: 300;
  line-height: 125px;
}
.button {
  padding: 20px 60px 20px 60px;
  background-color: #2a2a2c;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-size: 14pt;
  border-radius: 5px;
}
.button:hover {
  padding: 20px 60px 20px 60px;
  color: white;
  background-color: black;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
.buttons {
  width: 100%;
  margin-left: 0%;
  margin-top: 3%;
  display: flex;
  vertical-align: middle;
}

/* Mobile Screen*/

@media screen and (max-width: 1224px) {
  .herowords {
    font-size: 50px;
    color: #2a2a2c;
    font-weight: 300;
    line-height: 80px;
  }
}
